<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
>>>>>>> 4a9154a2a1526edf7ca35c664d88d2b284fbb4b3
}