@media screen and (max-width: 905px) {
  .header {
    &_rightside {
      flex-direction: column;
      gap: 10px;
      align-items: start;
    }
  }
}

@media screen and (max-width: 745px) {
  .header {
    &_navigation,
    &_rightside--first {
      display: none;
    }

    &_mobile--menu {
      display: block;

      &:hover {
        cursor: pointer;
      }

      &--list {
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
      }

      &:hover &--list {
        transform: translateX(0);
      }
    }
  }
}
